// Specific CSS for your home-page
.banner {
  height: 100vh;
  margin-top: -100px;
  background-size: cover !important;
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.2) 50%), image-url('aerial.jpg');
  background-position: center;
  animation: zoomin 15s;
  -webkit-animation: zoomin 15s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
p {
  color: rgb(30, 30, 30);
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 1.5px
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 24px;
}
.row {
  width: 100vw !important;
  margin: 50px 0;
}

@keyframes zoomin {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 130%;
  }
}

@-webkit-keyframes zoomin {
  0% {
    -webkit-background-size: 100%;
  }
  100% {
    -webkit-background-size: 130%;
  }
}

// Zoom in from (excl. JS) : https://codepen.io/jastr945/pen/mqaZBN
