<div class="wrapper-dom" id="about">
  <div class="container-dom hidden-xs hidden-sm" id="about">
    <div class="row">
      <div class="col-xs-4 about-content hidden-xs hidden-sm">
        <h1 id="dom-heading">about dominic</h1>
      </div>
      <div class="col-xs-2 about-content hidden-xs hidden-sm">
        <%= image_tag 'dp.jpg', :class => "dp"%>
      </div>
      <div class="col-xs-5 col-xs-offset-1 about-content hidden-xs hidden-sm">
        <p><strong>DOMINIC PRICE</strong></p>
        <p style="font-weight: 400;">Founder & Director</p><br>
        <p>Elmhurst Land was set up in 2017 by Dominic Price, a former Partner of Strutt and Parker.</p>
        <p>With over 10 years' experience in the property industry advising clients on transactions, asset optimisation, development options and corporate relocation strategy, Dominic brings an informed approach to problem solving which consistently delivers exceptional results.</p>
        <p style="border-bottom: 1px solid rgba(0, 0, 0, 0.5); max-width: 116px; margin-top: 20px;">DOWNLOAD C.V.</p>
      </div>
    </div>
  </div>
  <div class="container-dom-sm hidden-md hidden-lg">
    <div class="row">
      <div class="col-xs-12 about-content">
        <h1 id="dom-heading">about dominic</h1>
      </div>
      <div class="col-xs-12">
        <%= image_tag 'dp.jpg', :class => "dp-sm"%>
      </div>
      <div class="col-xs-12">
        <p style="padding-top: 40px"><strong>DOMINIC PRICE</strong></p>
        <p style="font-weight: 400;">Founder & Director</p><br>
        <p>Elmhurst Land was set up in 2017 by Dominic Price, a former Partner of Strutt and Parker.</p>
        <p>With over 10 years' experience in the property industry advising clients on transactions, asset optimisation, development options and corporate relocation strategy, Dominic brings an informed approach to problem solving which consistently delivers exceptional results.</p>
        <p style="border-bottom: 1px solid rgba(0, 0, 0, 0.5); max-width: 116px; margin:auto; margin-top: 20px;">DOWNLOAD C.V.</p>
      </div>
    </div>
  </div>
</div>
