<!-- <div class="case"> -->
  <div class="container-case" id="case-studies">
    <h1 class="case-heading">CASE STUDIES</h1>
    <hr>

    <div class="cards hidden-xs hidden-sm">
      <div class="card">
        <div class="card-body">
        </div>
        <div class="card-footer">
          <p>Stonegate Homes</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
        </div>
        <div class="card-footer">
          <p>Stonegate Homes</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
        </div>
        <div class="card-footer">
          <p>Stonegate Homes</p>
        </div>
      </div>
    </div>

    <div class="sm-cards hidden-md hidden-lg">
      <div class="card">
        <div class="card-body">
        </div>
        <div class="card-footer">
          <p>Stonegate Homes</p>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->
