<div class="container-case">
  <h2 class="case-heading">case studies</h2>
  <div class="cards">
    <div class="card">
      <div class="card-body">
      </div>
      <div class="card-footer">
        <p>Stonegate Homes</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
      </div>
      <div class="card-footer">
        <p>Stonegate Homes</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
      </div>
      <div class="card-footer">
        <p>Stonegate Homes</p>
      </div>
    </div>
  </div>
</div>
