<div class="footer footer-lg hidden-xs hidden-sm" id="contact">
    <%= link_to root_path, class: "footer-logo footer-margin-left" do %>
        <%= image_tag 'el_logo.svg', height: 60%>
    <% end  %>
  <div class="footer-margin-right">
    <h3>contact</h3>
    <p>&nbspT:&nbsp&nbsp&nbsp&nbsp07977 509 227</p>
    <a href="mailto:dominic@elmhurstland.com" class="less-margin">E:&nbsp&nbsp&nbsp&nbspdominic@elmhurstland.com</a></li>
    <br>
    <br>
    <p>Berkeley Square House</p>
    <p>Berkeley Square</p>
    <p>London, W1J 6BD</p>
  </div>
</div>

<div class="footer footer-sm hidden-md hidden-lg" id="contact">
  <div class="">
    <%= link_to root_path, class: "footer-logo footer-margin-left" do %>
      <%= image_tag 'el_logo.svg', height: 60%>
    <% end  %>
    <br>
    <br>
    <p>T:&nbsp&nbsp&nbsp&nbsp07977 509 227</p>
    <a href="mailto:dominic@elmhurstland.com" class="">&nbsp&nbsp&nbsp&nbsp&nbspE:&nbsp&nbsp&nbsp&nbspdominic@elmhurstland.com</a></li>
    <br>
    <br>
    <p>Berkeley Square House</p>
    <p>Berkeley Square</p>
    <p>London, W1J 6BD</p>
  </div>
</div>

