<div class="wrapper" id="contact">
  <div class="footer footer-lg hidden-xs">
      <div class="footer-margin-right">
        <h1 class="align-left">CONTACT</h1>
        <p class="phone-padding">&nbspT:&nbsp&nbsp&nbsp&nbsp07977 509 227</p>
        <p>E:&nbsp&nbsp&nbsp&nbsp<a href="mailto:dominic@elmhurstland.com" class="">dominic@elmhurstland.com</a></p>
        <br>
        <br>
        <p>Berkeley Square House</p>
        <p>Berkeley Square</p>
        <p>London, W1J 6BD</p>
      </div>
      <div>
        <%= link_to root_path, class: "footer-logo" do %>
            <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552308139/el_logo.png",:class=>"footer-logo-height") %>
        <% end  %>
        <p class="align-right copyright-padding">© 2019 ELMHURST LAND LIMITED</p>
        <p class="align-right">Site by <a href="https://www.katebuxton.co.uk" target="_blank" class="kb">Kate Buxton</a></p>
      </div>
  </div>
  <div class="footer footer-sm visible-xs">
    <div class="">
      <%= link_to root_path, class: "footer-logo footer-margin-left" do %>
        <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552308139/el_logo.png",:class=>"footer-logo-height") %>
      <% end  %>
      <br>
      <br>
      <p>T:&nbsp&nbsp&nbsp&nbsp07977 509 227</p>
      <p>E:&nbsp&nbsp&nbsp&nbsp<a href="mailto:dominic@elmhurstland.com" class="">dominic@elmhurstland.com</a></p>
      <br>
      <br>
      <p>Berkeley Square House</p>
      <p>Berkeley Square</p>
      <p>London, W1J 6BD</p>
      <p class="copyright-padding-sm">© 2019 ELMHURST LAND LIMITED</p>
      <p>Site by <a href="https://www.katebuxton.co.uk" target="_blank" class="kb">Kate Buxton</a></p>
      </div>
    </div>
  </div>
</div>

