<div class="navbar-wagon navbar-fixed-top">
  <!-- Logo -->

  <%= link_to root_path, class: "" do %>
      <%= image_tag 'el_logo.svg', height: 40%>
  <% end  %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs">
    <a href="" class="navbar-wagon-item navbar-wagon-link">What We Do</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">About</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Case Studies</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Contact</a>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-sm hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">What We Do</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Case Studies</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>
</div>
