<div class="navbar-wagon navbar-fixed-top">
  <%= link_to root_path, class: "" do %>
      <%= image_tag 'el_logo.png', height: 45%>
  <% end  %>
  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs">
    <a href="#what-we-do" class="navbar-wagon-item navbar-wagon-link">WHAT WE DO</a>
    <a href="#about" class="navbar-wagon-item navbar-wagon-link">ABOUT</a>
    <a href="#case-studies" class="navbar-wagon-item navbar-wagon-link">CASE STUDIES</a>
    <a href="#contact" class="navbar-wagon-item navbar-wagon-link">CONTACT</a>
    <a><%= link_to "CURRENTLY MARKETING", marketing_path, class: "navbar-wagon-item navbar-wagon-link marketing-tab"%></a>
  </div>
  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-sm hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#what-we-do">What We Do</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#case-studies">Case Studies</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><%= link_to "Currently Marketing", marketing_path, id: "marketing-tab-dropdown"%></li>
      </ul>
    </div>
  </div>
</div>
