<div class="wrapper-grey hidden-xs hidden-sm">
  <div class="container-about">
    <div class="row">
      <div class="col-md-6 about-content">
        <h2>elmhurst land offers property owners:</h2>
        <ul>
          <li>ASSESSMENT OF THEIR PROPERTY ASSETS</li><br>
          <li>DEVELOPMENT OPTIONS ANALYSIS</li><br>
          <li>ADVICE ON RELOCATION STRATEGY AND CORPORATE RATIONALISATION</li><br>
          <li>VALUE OPTIMISATION</li><br>
          <li>TRANSACTION AND MARKETING MANAGEMENT</li><br>
          <li>ACCESS TO CREDIBLE, TRUSTWORTHY PURCHASERS</li>
        </ul>
      </div>
      <div class="col-md-6 bout-content">
        <%= image_tag 'workers.png', :class => "photo"%>
      </div>
    </div>
  </div>
  <div class="container-about">
    <div class="row">
      <div class="col-md-6 hidden-xs hidden-sm about-content">
        <%= image_tag 'workers.png', :class => "photo"%>
      </div>
      <div class="col-md-6 hidden-xs hidden-sm about-content text-padding-left">
        <h2>elmhurst land offers developers:</h2>
        <ul>
          <li>ACCESS TO OFF-MARKET OPPORTUNITIES</li><br>
          <li>INTRODUCTIONS TO FUNDERS, OCCUPIERS AND INVESTORS</li><br>
          <li>ACCESS TO A NETWORK OF INDUSTRY CONTACTS</li><br>
          <li>EFFECTIVE ACQUISITION MANAGEMENT</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-grey hidden-md hidden-lg">
  <div class="container-sm">
    <div class="row">
      <div class="col-xs-12 about-content">
        <h2 style="margin: 75px 25px 0 25px !important">elmhurst land offers property owners:</h2>
        <ul>
          <li>ASSESSMENT OF THEIR PROPERTY ASSETS</li><br>
          <li>DEVELOPMENT OPTIONS ANALYSIS</li><br>
          <li>ADVICE ON RELOCATION STRATEGY AND CORPORATE RATIONALISATION</li><br>
          <li>VALUE OPTIMISATION</li><br>
          <li>TRANSACTION AND MARKETING MANAGEMENT</li><br>
          <li>ACCESS TO CREDIBLE, TRUSTWORTHY PURCHASERS</li>
        </ul>
      </div>
      <div class="col-xs-12 hidden-md hidden-lg">
        <%= image_tag 'workers.png', :class => "photo-sm"%>
      </div>
    </div>
  </div>
    <div class="container-sm">
    <div class="row">
      <div class="col-xs-12 about-content">
        <h2 style="margin: 0 25px !important">elmhurst land offers property owners:</h2>
        <ul>
          <li>ACCESS TO OFF-MARKET OPPORTUNITIES</li><br>
          <li>INTRODUCTIONS TO FUNDERS, OCCUPIERS AND INVESTORS</li><br>
          <li>ACCESS TO A NETWORK OF INDUSTRY CONTACTS</li><br>
          <li>EFFECTIVE ACQUISITION MANAGEMENT</li>
        </ul>
      </div>
      <div class="col-xs-12 hidden-md hidden-lg">
        <%= image_tag 'workers.png', :class => "photo-sm"%>
      </div>
    </div>
  </div>
</div>
