<div class="what-we-do-two border-bottom">
  <div class="row what-we-do-padding">
    <div class="col-xs-12 col-sm-6 alignment-heading">
      <h3 class="">ELMHURST LAND OFFERS PROPERTY OWNERS:</h3>
    </div>
    <div class="col-xs-12 col-sm-6 alignment-bullets">
      <ul>
        <li>Assessment of their property assets</li>
        <li>Development options analysis</li>
        <li>Advice on relocation strategy and corporate rationalisation</li>
        <li>Value optimisation</li>
        <li>Transaction and marketing management</li>
        <li>Access to credible, trustworthy purchasers</li>
      </ul>
    </div>
  </div>
</div>
<div class="what-we-do-two">
  <div class="row what-we-do-padding">
    <div class="col-xs-12 col-sm-6 alignment-heading">
      <h3 class="">ELMHURST LAND OFFERS DEVELOPERS:</h3>
    </div>
    <div class="col-xs-12 col-sm-6 alignment-bullets">
      <ul>
        <li>Access to off-market opportunities</li>
        <li>Introductions to funders, occupiers and investors</li>
        <li>Access to a network of industry contacts</li>
        <li>Effective acquisition management </li>
      </ul>
    </div>
  </div>
</div>

