<div class="what-we-do-two border-bottom">
  <div class="row">
    <div class="col-xs-12 col-sm-6 alignment-heading">
      <h3 class="">elmhurst land offers property owners:</h3>
    </div>
    <div class="col-xs-12 col-sm-6 alignment-bullets">
      <ul>
        <li>Assessment of their property assets</li><br>
        <li>Development options analysis</li><br>
        <li>Advice on relocation strategy and corporate rationalisation</li><br>
        <li>Value Optimisation</li><br>
        <li>Transaction and Marketing Management</li><br>
        <li>Access to credible, trustworthy purchasers</li>
      </ul>
    </div>
  </div>
</div>
<div class="what-we-do-two">
  <div class="row">
    <div class="col-xs-12 col-sm-6 alignment-heading">
      <h3 class="">elmhurst land offers developers:</h3>
    </div>
    <div class="col-xs-12 col-sm-6 alignment-bullets">
      <ul>
        <li>Access to off-market opportunities</li><br>
        <li>Introductions to funders, occupiers and investors</li><br>
        <li>Access to a network of industry contacts</li><br>
        <li>Effective acquisition management </li>
      </ul>
    </div>
  </div>
</div>

