.wrapper-dom {
  padding: 48px 0px 100px 0px;
}
.container-dom {
  display: flex;
  align-items: center;
  padding: 0px 75px 0px 75px;
}
.container-dom-sm {
  align-items: center;
  text-align: center;
  padding: 0px 48px;
}
.dp {
  width: 250px;
  border-radius: 1px;
}
.dp-sm {
  margin-top: 20px;
  width: 250px;
  border-radius: 1px;
}
#dom-heading {
  @media (min-width: 768px) {
  width: 250px !important;
  }
  @media (max-width: 768px) {
  text-align: center;
  width: 250px !important;
  }
}
.mid-weight-font {
  font-weight: 400;
}
.margin-top {
  margin-top: 24px;
}
.underline {
  text-decoration: underline;
}
.padding-top {
  padding-top: 40px;
}
.zero-margin {
  margin-bottom: 0px;
}
