.container-dom {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 75px;
}
.container-dom-sm {
  display: flex;
  align-items: center;
  padding: 0 50px;
  text-align: center;
}
.container-dom h2 {
  margin-top: 0px !important;
  max-width: 232px
}
.dp-sm {
  margin-top: 20px;
}
#dom-heading {
  @media (min-width: 768px) {
  width: 231px !important;
  }
  @media (max-width: 768px) {
  text-align: center;
  }
}

