.case {
  background-color: #D5DCD8;
}
.container-case {
  max-width: 1000px;
  margin: 100px auto;
}
.cards {
  display: flex;
  justify-content: space-between;
  margin: 72px 20px 150px 20px;
}
.sm-cards {
  width: 305px;
  margin: auto;
  margin-top: 75px;
}
.cards p {
  margin: 10px !important;
}
.case-heading {
  @media (min-width: 768px) {
  width: 230px !important;
  }
  @media (max-width: 768px) {
  text-align: center;
  width: 245px;
  }
}
.card {
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  transition: all 0.3s ease;
  border-radius: 2px;
}
.card:hover {
  margin-top: -10px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('');
}
.card-body {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid rbga(0, 0, 0, 0.2);
  color: white;
  height: 180px;
  width: 305px;
  border-radius: 2px 2px 0 0;
  background-image: image-url('workers.png');
  z-index: -1;
}
.cards.card {
  flex: 1 0 auto;
}
.card-footer {
  align-items: center;
  padding: 10px;
  color: #999999;
  font-size: 12px;
}
