.footer {
  background: #1F363C;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 100px;
  color: #EDEDED !important;
  p {
    font-size: 11px;
    line-height: 5px;
    color: #EDEDED;
  }
  a {
    font-size: 11px;
    line-height: 5px;
    color: #EDEDED;
    letter-spacing: 1.5px;
    margin-bottom: 0px !important;
  }
  h3 {
    font-size: 28px;
    margin-bottom: 25px;
    letter-spacing: 1.5px;
  }
}
.footer-lg {
  height: 250px;
}
.footer-sm {
  height: 300px;
  padding: 0px 20px;
  a {
    text-decoration: none !important;
    padding-top: 48px;
  }
}
.footer-logo {
  display: flex;
  align-items: center;
  padding-top: 20px;
}
.footer-margin-right {
  margin-right: 10%;
}
.footer-margin-left {
  margin-left: 5%;
}
.footer-sm p {
  margin-left: 20px;
}
