.footer {
  background: #1F363C;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 100px;
  color: #EDEDED !important;
  p {
    font-size: 11px;
    line-height: 5px;
    color: #EDEDED;
  }
  a {
    font-size: 11px;
    line-height: 5px;
    color: #EDEDED;
    margin-bottom: 0px !important;
  h1 {
    text-shadow: 1px 1px grey;
    }
  }
}
.phone-padding {
  padding-top: 16px;
}
.copyright-padding {
  padding-top: 70px;
}
.copyright-padding-sm {
  padding-top: 24px;
}
.footer-lg {
  height: 250px;
}
.footer-sm {
  height: 350px;
  padding: 0px 20px;
  a {
    text-decoration: none !important;
    padding-top: 48px;
  }
  p {
    margin-left: 20px;
  }
}
.footer-logo {
  display: flex;
  align-items: center;
  padding-top: 20px;
}
.footer-logo-height {
  height: 60px;
}
.footer-margin-right {
  margin-right: 10%;
}
.footer-margin-left {
  margin-left: 5%;
}
