.wrapper {
  background-color: #EDEDED;
}
.container {
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
}
.intro-content h1 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  max-width: 240px;
  line-height: 70px;
  margin: auto;
  margin-bottom: 30px;
}
.intro-content p {
  padding-top: 20px;
}
