.wrapper {
  background-color: #F8F8F8;
}
.intro-content h1 {
  max-width: 190px;
  // margin-bottom: 40px;
}
hr {
    border-bottom: 3px solid #333333;
    width: 100px;
    margin-top: 16px;
    margin-bottom: 32px;
}
