.wrapper {
  background-color: #F8F8F8;
}
.intro-content {
  margin-bottom: 32px;
  h1 {
    max-width: 190px;
  }
}
hr {
    border-bottom: 3px solid #333333;
    width: 100px;
    margin-top: 16px;
    margin-bottom: 32px;
}
