.wrapper-grey {
  background-color: #D8D8D8;
  // padding: 50px 0;
}
.wrapper-darker-grey {
  background-color: #F8F8F8;
  padding: 80px 0;
}
.about-content h2 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  line-height: 35px;
  margin-bottom: 30px;
  padding-bottom: 15px;
  @media (min-width: 768px) {
  max-width: 360px;
  }
  @media (max-width: 768px) {
  text-align: center;
  }
}
.about-content li {
  // line-height: 25px;
  // font-size: 12px;
  // letter-spacing: 0.9px;
  // font-weight: 500;
}
.about-content ul {
  margin-top: 25px;
  max-width: 90%;
}
.container-about {
  display: flex;
  margin: auto 100px;
}
.photo {
  margin-top: 150px;
}
.photo-sm {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}
.container-sm {
  display: flex;
  margin: auto;
}
.text-padding-left {
  padding-left: 40px;
}

