.wrapper-grey {
  background-color: #D8D8D8;
}
.about-content h2 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  line-height: 40px;
  margin-bottom: 30px;
  padding-bottom: 15px;
  max-width: 360px;
}
.about-content li {
  line-height: 25px;
  font-size: 12px;
  letter-spacing: 1.5px;
}
.about-content ul {
  margin-top: 25px;
  max-width: 90%;
}
.container-about {
  display: flex;
  margin: auto 100px;
}
.photo {
  margin: 150px 0;
}
.photo-sm {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}
.container-sm {
  display: flex;
  margin: auto;
}
.text-padding-left {
  padding-left: 40px;
}

